﻿@model IEnumerable<DataModel.User>
<div class="page-header">
    <h3 class="page-title">
        Create User
    </h3>
    <a href="#" class="btn btn-primary myformbtn" onclick="openUserForm()"><i class="glyphicon glyphicon-plus"></i> Add New User</a>
</div>
<div id="divFormDetails">

</div>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
<!-- start detail -->
<div class="mt-5 table-responsive">
    <table id="admin" class="table table-striped table-bordered box-shadow" style="width:100%">
        <thead class="bg-dark text-white">
            <tr>
                <th> User Id </th>
                <th> User Type </th>
                <th> Full Name </th>
                <th> Email </th>
                <th> Password </th>
                <th> Mobile No. </th>
                <th>&nbsp; </th>
                <th>&nbsp; </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ToList().Count() > 0)
            {
                foreach (var item in Model.ToList())
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td class="py-1">@item.UserType</td>
                        <td> @item.FirstName &nbsp; @item.LastName </td>
                        <td> @item.EmailId</td>
                        <td> @item.UserPassword </td>
                        <td> @item.MobileNo </td>
                        <td>
                            <a href="#" onclick="openUserForm(@item.UserId)" class="btn btn-sm myformbtn btn-primary">
                                <i class="text-white mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" type="button" onclick="deleteUser(@item.UserId)" class="btn btn-sm  btn-danger">
                                <i class="text-white mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
@section scripts{
    <script>
    function openUserForm(userId) {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            data: { id: userId },
            url: '@Url.Action("AddUser")',
            success: function (data) {
                $('#divFormDetails').html(data);
            },
            error: function (err) {
                alert(err);
            }
        });
    }

    function CloseForm() {
        $(".myform").hide('3000');
        }

        function deleteUser(ID) {
            //var user =  { UserId: userId };
            if (confirm("Are you sure to remove this user?")) {
                $.ajax({
                    type: 'POST',
                    contentType : 'application/json;charset=UTF-',
                    dataType: 'json',
                    url: '/User/Delete/'+ID,
                    success: function (data) {
                        alert("Yo have removed one record successfully!!!");
                        window.location.href = '@Url.Action("UserList")';
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                });
            } else {
                return false;
            }
        }
    </script>
    <script>
        //Valdidation using jquery
        function validate() {
            debugger;
            var isValid = true;
            if ($('#FirstName').val().trim() == "") {
                $('#FirstName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#FirstName').css('border-color', 'lightgrey');
            }
            if ($('#LastName').val().trim() == "") {
                $('#LastName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#LastName').css('border-color', 'lightgrey');
            }
            if ($('#ddlUserType').val().trim() == "" || $('#ddlUserType').val().trim()==='0') {
                $('#ddlUserType').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlUserType').css('border-color', 'lightgrey');
            }
            if ($('#MobileNo').val().trim() == "") {
                $('#MobileNo').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#MobileNo').css('border-color', 'lightgrey');
            }
            if ($('#UserPassword').val().trim() === '') {
                $('#UserPassword').css('border-color', 'Red');
                isValid = false;
            } else {
                $('#UserPassword').css('border-color', 'lightgrey');
            }
            if ($('#EmailId').val().trim() === '') {
                $('#EmailId').css('border-color', 'Red');
                isValid = false;
            } else {
                $('#EmailId').css('border-color', 'lightgrey');
            }
            if (!isValid) {
                event.preventDefault();
            }
            return isValid;
        }
    </script>
}