﻿@model DataModel.StudentsExams

@{
    ViewBag.Title = "AddStudentExam";
    Layout = null;
}
@using (Html.BeginForm())
{
<!-- start add exam form -->
<div class="row myform">
    <div class="col-md-6 grid-margin stretch-card m-auto">
        <div class="card box-shadow">
            <div class="card-body text-center">
                <a onclick="CloseForm();" class="crossbtn btn btn-link btn-sm float-right">X</a>
                <h4 class="card-title">Add Courses Exams</h4>
                <div class="form-group">
                    @Html.HiddenFor(model => model.StudentId)
                    @Html.DropDownListFor(model => model.CourseId, new SelectList(Model.ListCourse, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "onCourseSelected();", id = "ddlCourse" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.ExamDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "Exam Date (DD/MM/YYYY)", @id = "datepicker" } })
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.ExamTimesId, new SelectList(Model.ExamTimeList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Fees, new { htmlAttributes = new { @class = "form-control", @id = "txtfees", @placeholder = "Fees Amount", @readonly = "true" } })
                </div>
                <div class="form-group text-center m-0">
                    <button type="submit" onclick="return validateStudentExam();" class="btn btn-gradient-primary mr-2">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end add exam form -->
}
